/*
|
|   main css
|
*/

*, *:before, *:after {

    box-sizing: border-box;
}

html,
body,
#list-pane,
#option-pane,
#single-pane {

    padding : 0;
    margin  : 0;

    width   : 100%; 
    height  : 100%;
}

#downer-pane {

    padding : 0;
    margin  : 0;

    width   : 100%; 
    height  : 33vh;
}

#siderr-pane {

    padding : 0;
    margin  : 0;

    width   : 100%; 
    height  : 33%;    
}

#list-pane,
#option-pane,
#single-pane,
#downer-pane {

    position    : fixed;
    top         : 0;
    left        : 0;
}

#siderr-pane {

    position    : fixed;
    bottom      : 0;
    left        : 0;
}

#list-pane {

    z-index : 0;
}

#option-pane,
#single-pane {

    z-index : 11;
}

#downer-pane,
#siderr-pane {

    z-index : 33;
}