/*
|
|   transition css
|
*/

.option,
.single,
.downer,
.siderr {

    transition : all 333ms ease-in;
}

.option.show,
.single.show,
.downer.show,
.siderr.show {

    transition  : all 333ms ease-out;    
    transform   : none;
}
